<ion-header>
  <ion-toolbar>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="weather" padding>
  <ion-grid>
        <ion-row  text-center>
          <ion-col size="{{colsize}}"></ion-col>
          <ion-col style="border: 1px ">
          <ion-button expand="block" (click)="moveToFirst()">Pick City</ion-button>              
          </ion-col>
          <ion-col size="{{colsize}}"></ion-col>
        </ion-row>
        <ion-row style="text-align: center"  text-center>
          <ion-col size="{{colsize}}"></ion-col>
          <ion-col style="border: 1px ">
            <ion-list>
              <ion-item> 
                <ion-avatar slot="start" >
                  <img src="{{countrycode}}" style="border: 1px solid black" alt="">
                </ion-avatar>
                <ion-label>
                  <h2 class="wrap">{{weathloc}}</h2>
                  <img src="{{weathericon}}">
                  <h3>{{weatherdesc}}</h3>
                  <h2><ion-badge color="primary">{{weathtempdeg}}&deg; ({{weathtempfar}}F)</ion-badge></h2>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="{{colsize}}"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="{{colsize}}"></ion-col>
          <ion-col style="border: 1px ">
            <ion-list>
              <ion-item text-wrap>
               <strong>Temp Range:</strong>&nbsp; {{weathtempdegmin}}&deg; to {{weathtempdegmax}}&deg; 
              </ion-item>
              <ion-item text-wrap>
                  <strong>Relative Humidity: </strong>&nbsp;&nbsp; {{weathhumidity}}%
              </ion-item>
              <ion-item text-wrap>
                  <strong>Wind: </strong>&nbsp;&nbsp; {{weathwindspeed_mps}} m/s
              </ion-item>
              <ion-item text-wrap>
                  <strong>Pressure : </strong>&nbsp;&nbsp; {{weathpreassure}} hpa
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="{{colsize}}"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
